rand_test.py
*.iml
*.xml
*.pyc
/venv
wh_template.xlsx
test.py
warhammer_data.xlsx
*.csv
armour_calc.xlsx
db_temp - Copy (2).txt
db_temp.txt
db_temp - Copy.txt
dei_data - Copy.xlsx
TWW_units_grid/units_grid.json
/swordsmen_vs_saurus
LD_penalties.xlsx
show_data.py
process_LD_test_data.py
